// Resetter
// --

.hidden-desktop ul,
.uninorte__links,
.uninorte-footer__mobile-li,
.uninorte-footer__social ul,
.uninorte-footer__mobile-sub {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: inherit;
}

fieldset[disabled] .form-control,
.form-control[disabled] {
  color: inherit;
  opacity: 0.35;
}

/** reset clases liferay **/
.portlet {
  margin-bottom: 0;
}

.portlet-title-text {
  display: none;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding: 0;
}
