.hidden-desktop {
  display: none;
}
.show-mobile {
  display: none;
}

@media only screen and (min-width: 940px) and (max-width: 1300px) {
  .uninorte-heading {
    .uninorte__heading-bottom {
      .uninorte-secondary-menu {
        .uninorte-secondary-menu__list {
          .uninorte-secondary-menu__item {
            min-width: 170px;
          }
        }

        .uninorte-secondary-menu__sublist {
          width: 170px;
        }
      }
    }
  }
  .uninorte-footer .uninorte-footer__container {
    .uninorte-footer__columns {
      grid-template-columns: auto 70%;
      grid-gap: 20px;

      .uninorte-footer__item.item-1 {
        .uninorte-location {
          max-width: 200px;
        }
      }
    }
  }
}
@media only screen and (max-width: 940px) {
  .hidden-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .hidden-desktop {
    display: block;
  }

  /** Header **/
  .uninorte-navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .uninorte-navbar-mobile__logo {
      .logo_uni {
        display: none;
      }

      .logo_uni-big {
        margin: 0 15px;
      }
    }

    .uninorte-navbar-search-menu-box {
      display: flex;
      justify-content: space-around;
      justify-content: space-evenly;
      align-items: center;
      width: 125px;
      width: 130px;

      .uninorte-search__icon {
        img {
          width: 30px;
        }
      }

      .uninorte-search {
        position: relative;
        .uninorte-search__icon img {
          width: 22px;
        }

        .uninorte-search__box {
          display: none;
          position: absolute;
          width: 190px;
          right: 0;
          background-color: #ebebeb;

          .portlet-decorate .portlet-content {
            background-color: inherit;
            padding: 10px;
          }

          .uninorte-search__box-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
          }
        }

        .uninorte-search__box.show-search {
          display: block;
          top: 30px;
          animation: 300ms ease displayBox 1;
          right: 0;
        }

        @keyframes displayBox {
          from {
            transform: scaleY(0);
          }
        }
      }

      .uninorte-search__icon i,
      .uninorte-navbar__toggle i {
        font-size: 1.495rem;
      }
    }
  }

  .uninorte-navbar-mobile {
    position: relative;
    right: 0;
    transition: 1s;
  }

  .uninorte-navbar-mobile.move {
    right: 300px;
  }

  .uninorte-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #ebebeb;
    z-index: 100;
    transition: 0.4s;
    padding-bottom: 50px;

    .uninorte-sidebar__portals,
    .uninorte-sidebar__language {
      background-color: #1d1d1b;

      .uninorte-sidebar__portals-nav,
      .uninorte-sidebar__language-nav {
        .uninorte-sidebar__portals-li,
        .uninorte-sidebar__language-li {
          padding: 5px;
          padding: 5px 15px;
          .uninorte-sidebar__portals-a,
          .uninorte-sidebar__language-a {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid rgba(204, 204, 204, 0.21961);
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: 200;

            img {
              width: 20px;
              margin: 10px 5px;
            }
          }

          .uninorte-sidebar__portals-sub,
          .uninorte-sidebar__language-sub {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            .uninorte-sidebar__portals-sub-li,
            .uninorte-sidebar__language-sub-li {
              .uninorte-sidebar__portals-sub-a,
              .uninorte-sidebar__language-sub-a {
                color: #fff;
                font-size: 14px;
                font-weight: 200;
                display: block;
                padding: 5px 0;
              }
            }
          }
        }
      }
    }

    .uninorte-sidebar__navigation {
      background-color: #ebebeb;

      .portlet-decorate .portlet-content {
        padding: 0;
        background: #ebebeb;
      }

      .uninorte-sidebar__links {
        .uninorte-sidebar__mobile {
          text-align: end;

          .uninorte-sidebar__mobile-li {
            .uninorte-sidebar__mobile-a {
              margin: 10px 15px;
              margin: 15px;
              display: block;
              color: #1d1d1b;
              text-decoration: none;
              font-size: 15px;
              font-weight: 200;
            }

            .uninorte-sidebar__mobile-sub {
              background-color: #fff;
              padding: 10px 0;

              .uninorte-sidebar__mobile-sub-li {
                .uninorte-sidebar__mobile-sub-a {
                  margin: 10px 15px;
                  display: block;
                  color: #1d1d1b;
                  text-decoration: none;
                  font-size: 15px;
                  font-weight: 200;
                }
              }
            }
          }
        }
      }
    }

    .uninorte-sidebar__social-radio {
      margin: 30px 10px;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      .uninorte-sidebar__social {
        /*max-width: 200px;
        margin: 20px auto;
        margin: 0 auto;*/

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #1d1d1b;
          width: 220px;
          margin: 0 10px;

          li {
            a {
              color: #1d1d1b;
              text-decoration: none;
              font-size: 1.35rem;
            }
          }
        }
      }

      .uninorte-sidebar__radio {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: baseline;
        padding: 15px 10px;
        .control {
          border: none;
          outline: none;

          #play,
          #pause {
            width: 30px;
            object-fit: contain;
          }

          .pause {
            display: none;
          }
        }

        .uniorte-heading__signal {
          .fm {
            width: 50px;
            width: 70px;
          }

          .signal {
            width: 100px;
            width: 135px;
          }
        }
      }
    }
  }

  .show-menu {
    right: 0;
    overflow: auto;
  }

  .overflow-uni-nav {
    overflow-y: hidden;
    height: 100vh;
  }

  /** Footer **/
  .uninorte-footer {
    .min-education {
      display: none;
    }
  }
  .uninorte-footer__contact {
    .uninorte-footer__logo {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .uninorte__logo,
      .uninorte__separator {
        width: 250px;
        object-fit: contain;
      }

      .uninorte-location {
        display: block;
        color: #fff;
        margin: 20px 0;
        text-align: center;
      }
    }

    .uninorte__links li a {
      display: flex;
      align-items: center;
      margin: 10px 0;
      text-decoration: none;
      color: #fff;

      img {
        width: 40px;
        margin-right: 10px;
      }
    }
  }

  .uninorte-footer__links {
    .uninorte-footer__mobile {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin: 15px auto;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;

      .uninorte-footer__mobile-li {
        padding: 10px 0;

        .uninorte-footer__mobile-a {
          color: #fff;
          text-decoration: none;
          font-weight: 700;

          i {
            font-size: 0.95rem;
            vertical-align: middle;
          }
        }

        .uninorte-footer__mobile-sub {
          display: none;
        }
      }

      .uninorte-footer__mobile-a.active-footer {
        display: block;
      }

      .uninorte-footer__mobile-sub-a {
        color: #fbfbf8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        text-decoration: none;
        word-break: break-word;
      }
    }
  }

  .uninorte-footer__social {
    margin: 0 auto;
    max-width: 200px;
    max-width: 250px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li a {
        font-size: 1.75rem;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .uninorte-footer__directory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .uninorte-footer__watch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 65%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 450px) {
  .uninorte-navbar-mobile.move {
    padding: 20px;
    right: 260px;
  }

  .uninorte-sidebar {
    width: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .uninorte-sidebar {
    width: auto;
  }

  .uninorte-navbar-mobile.move {
    right: 260px;
    padding: 10px;
  }

  .uninorte-navbar-mobile {
    .uninorte-navbar-mobile__logo {
      .logo_uni-big {
        display: none;
      }

      .logo_uni {
        display: block;
        margin: 0 15px;
      }
    }
  }
}
