
// Project Color Palette
// -- 

$uni-white:        #FFF;
$uni-red:          #AA2131;
$uni-pink:         #c00e3d;
$uni-grey-dark:    #3C3C3B;
$uni-black:        #1d1d1b;
$uni-grey:         #ebebeb;
$uni-greylight:    #F7F7F7;
$uni-yellow:       #FFCC00;
$uni-greymid:      #d8d8d8;
